.image {
	height: 300px;
	width: 100px;
}

.my__nav__logo {
	margin-left: 30px;
}

.mr-2 {
	margin-right: 5px;
}

.my__form {
	margin-top: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
