<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'store/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/mdb.min.css' %}">
    {% block appcss %}
        <link rel="stylesheet" href="{% static 'store/css/app.css' %}">
    {% endblock appcss %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
<div class="row d-flex justify-content-center">
{% block content %}
{% endblock content %}
</div>
</div>
    <script src="{% static 'store/js/jquery.js'%}"></script>
    <script src="{% static 'store/js/popper.js'%}"></script>
    <script src="{% static 'store/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'store/js/mdb.min.js'%}"></script>   
</body>
</html>