<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <link rel="stylesheet" href="{% static 'store/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/icons.css' %}">
    {% block appcss %}
        <link rel="stylesheet" href="{% static 'store/css/app.css' %}">
    {% endblock appcss %}
</head>
<body>
{% include 'navbar.html' %}
{% comment %} <div class="container"> {% endcomment %}
<div class="row">
<div class="col s10 m12">
{% block content %}
{% endblock content %}
</div>
</div>
   {% comment %} </div>  {% endcomment %}
<script src="{% static 'store/js/materialize.js' %}"></script>s
</body>
</html>