<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'store/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/mdb.min.css' %}">
    {% block appcss %}
        <link rel="stylesheet" href="{% static 'store/css/app.css' %}">
    {% endblock appcss %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
<div class="row d-flex justify-content-center" style="margin-top:100px;">
{% block content %}
{% endblock content %}
</div>
</div>
    <script src="{% static 'store/js/jquery.js'%}"></script>
    <script src="{% static 'store/js/popper.js'%}"></script>
    <script src="{% static 'store/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'store/js/mdb.min.js'%}"></script>   
</body>
</html>