<div class="row">
<div class="col-md-1 font-weight-bold text-center">
Sr.No.
</div>
<div class="col-md-2 font-weight-bold text-center">
Image
</div>
<div class="col-md-2 font-weight-bold text-center">
Product
</div>
<div class="col-md-1 font-weight-bold text-center">
Price
</div>
<div class="col-md-1 font-weight-bold text-center">
Quantity
</div>
<div class="col-md-1 font-weight-bold text-center">
Subtotal
</div>
<div class="col-md-2 font-weight-bold text-center">
Date
</div>
<div class="col-md-2 font-weight-bold text-center">
Status
</div>
</div>